<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cz.widgets.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".zoomlayout.theater.test.TheaterRecyclerTestActivity" />
        <activity android:name=".zoomlayout.theater.TheaterSample1Activity" />
        <activity android:name=".zoomlayout.tree.TreeLayoutSampleActivity" />
        <activity android:name=".zoomlayout.hierarchy.test.HierarchyRecyclerTestSampleActivity" />
        <activity android:name=".zoomlayout.hierarchy.ZoomHierarchySampleActivity" />
        <activity android:name=".zoomlayout.table.test.ZoomLayoutRecycleSampleActivity" />
        <activity android:name=".zoomlayout.table.TableZoomLayoutSampleActivity" />
        <activity android:name=".zoomlayout.database.DatabaseSampleActivity" />
        <!-- All the activities about text -->
        <activity android:name=".textview.aniamtion.AnimationTextControllerSampleActivity" />
        <activity android:name=".textview.aniamtion.FlyingTextSampleActivity" />
        <activity android:name=".textview.aniamtion.TypeAnimationSampleActivity" />
        <activity android:name=".textview.aniamtion.TextAnimationSampleActivity" />
        <activity android:name=".textview.span.ImageSpanSampleActivity" />
        <activity android:name=".textview.span.ViewSpanSampleActivity" />
        <activity android:name=".textview.span.table.TextTableSampleActivity" />
        <activity android:name=".textview.view.SelectedTextSampleActivity" />
        <activity android:name=".textview.view.SelectParagraphSampleActivity" />
        <activity android:name=".textview.transition.CountDownTextTransitionSampleActivity" />
        <activity android:name=".textview.other.CountDownTextActivity" />
        <activity android:name=".textview.other.table.TableLayoutSampleActivity" />


        <activity android:name=".view.form.FormSampleActivity"/>
        <activity android:name=".view.state.StateTextViewActivity"/>
        <activity android:name=".view.state.StateImageViewActivity"/>
        <activity android:name=".view.drag.DragLayoutActivity"/>
        <activity android:name=".view.frame.FrameViewSampleActivity"/>
        <activity android:name=".view.frame.FrameViewActivity"/>
        <activity android:name=".view.frame.FrameTriggerActivity"/>
    </application>

</manifest>